<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		{% macro render_dict(d) -%}
		{% for key, value in d.items() -%}
		<key>{{ key }}</key>
		{% if value is string -%}
		<string>{{ value }}</string>
		{% elif value is boolean -%}
		<{{ "true" if value else "false" }} />
		{% elif value is integer -%}
		<integer>{{ value }}</integer>
		{% elif value is float -%}
		<real>{{ value }}</real>
		{% elif value is mapping -%}
		<dict>
			{{ render_dict(value) }}
		</dict>
		{% elif value is sequence -%}
		<array>
			{% for item in value -%}
				{% if item is string -%}
				<string>{{ item }}</string>
				{% elif item is boolean -%}
				<{{ "true" if item else "false" }} />
				{% elif item is integer -%}
				<integer>{{ item }}</integer>
				{% elif item is float -%}
				<real>{{ item }}</real>
				{% elif item is mapping -%}
				<dict>
					{{ render_dict(item) }}
				</dict>
				{% endif -%}
			{% endfor -%}
		</array>
		{% endif -%}
		{% endfor -%}
		{% endmacro -%}
		{{ render_dict(cookiecutter.options.macos_entitlements) }}
	</dict>
</plist>
